body{
    background-color: black;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}
h1{
    color: white;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}   
a{
    color: white;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 200px;
    text-decoration: none;
}
a:hover{
    color: gray;
}
br{
    margin-bottom: 20px;
}
