body{
    background:linear-gradient(to left , black, orange);
    justify-content: center;
}
div{
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgb(197, 197, 197);
    padding: 20px;
    color: white;
    border-radius: 100px;
}
form{
    display: flex;
    flex-direction: column;
}
button{
    background-color: orange;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover{
    background-color: rgb(174, 96, 0);
    color: white;
}
.sign-in-form{
    display: flex;
   padding: 10px;
   font-size: large;
    flex-direction: column;
    border-radius:100px ;
}
button{
    font-size: large;
    width: 300px ;
    text-align: center;
    text-decoration: darkgray;
}
h1{
    text-align: center;
    padding: 180px;
}